on:
  push:
    branches:
      - main
  pull_request:

name: Run tests

jobs:
  lint:
    name: Linting Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.revision }}

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Lint with Golangci Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout=5m --config .github/golangci.yml

  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest] # window-latest does not work yet

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Download dependencies
        run: |
          go mod download
          go mod tidy -v

      - name: Test
        run: make test

      - name: Tests with localstack
        if: matrix.platform == 'ubuntu-latest'
        env:
          AWS_REGION: us-west-1
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
        run: make test_with_localstack
