on: [push, pull_request]

name: Run tests

jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest] # window-latest does not work yet

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Download dependencies
        run: |
          go mod download
          go mod tidy -v

      - name: Vet
        if: matrix.platform == 'ubuntu-latest'
        run: make vet

      - name: fmt
        if: matrix.platform == 'ubuntu-latest'
        run: make fmt

      - name: Test
        run: make test

      - name: Tests with localstack
        if: matrix.platform == 'ubuntu-latest'
        env:
          AWS_REGION: us-west-1
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
        run: make test_with_localstack
